 <header id="banner" style="background-size: cover;background-position: center center;background-repeat: no-repeat;background-image: url(/projets.jpg);">
 <div class="banner-text">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Donnez vie à vos projets web</h1>
        <p class="punchline">Développeur web Ruby on Rails. <br> Je vous aide à concrétiser vos idées, <br> en les développant pour vous.</p>
        <p>
         <%= button_to "Parlez-moi de votre projet", formulaire_path, class: "btn btn-secondary btn-lg" , :method => :get  %>
        </p>
      </div>
    </section>
    </div>
    <div class="dimmer"></div>
 </header>

 <!-- Team -->
 <section id="team" class="pb-5">
     <div class="container" id="me">
         <h5 class="section-title h1" >A propos</h5>
         <h3 class="apropos">Développeur web Ruby on Rails,
            j'ai été formé à l'école Simplon, une fabrique de
            codeurs qui a accompagné plus de 1000 développeurs. Le langage informatique que j'utilise est un langage
            très populaire, notamment utilisé par les startups Airbnb, Shopify ou Square.
            Je peux développer de simples pages web ou des sites plus complexes
            comme des marketplaces ou des site d'e-commerce.
          </h3>
         <div class="row">
             <!-- Team member -->
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                     <div class="mainflip">
                         <div class="frontside">
                             <div class="card">
                                 <div class="card-body text-center">
                                     <p class="img"><img img class=" img-fluid" src="/laptop.png"  alt="card image"></p>
                                     <h4 class="card-title">Mes langages</h4>
                                     <p class="card-text">J'utilise plusieurs langages populaires et solides pour le développpement </p>
                                     <ul class="list" >
                                         <li class="list" style="float:left!important;font-family: 'Roboto', sans-serif;">
                                               <img src="https://img.icons8.com/color/48/000000/ruby-programming-language.png"> Ruby on rails
                                         </li>
                                         <li class="list" style="float:left!important;font-family: 'Roboto', sans-serif;">
                                                 <img src="https://img.icons8.com/color/48/000000/html-5.png"> html 5
                                         </li>
                                         <li class="list" style="float:left!important;font-family: 'Roboto', sans-serif;">
                                                <img src="https://img.icons8.com/color/48/000000/css3.png">  CSS 3
                                         </li>
                                         <li class="list" style="float:left!important;font-family: 'Roboto', sans-serif;">
                                                 <img src="https://img.icons8.com/color/48/000000/mysql.png"> base de données
                                         </li>
                                     </ul>
                                 </div>
                             </div>
                         </div>
                      </div>
                 </div>

             <!-- ./Team member -->
             <!-- Team member -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                     <div class="mainflip">
                         <div class="frontside">
                             <div class="card">
                                 <div class="card-body text-center">
                                     <p class="img"><img img class=" img-fluid" src="/photo_basket.jpg"  alt="card image"></p>
                                     <h4 class="card-title">Ma méthode</h4>
                                     <p class="card-text">Ma méthode de travail  se déroule en 4 étapes</p>
                                     <ul class="list-inline">
                                         <li class="list-inline-item">
                                             Analyses du besoin
                                         </li>
                                         <li class="list-inline-item">
                                                 Design et Prototype
                                         </li>
                                         <li class="list-inline-item">
                                                  Développement et tests
                                         </li>
                                         <li class="list-inline-item">
                                                  Déploiement et maintenance
                                         </li>
                                     </ul>
                                 </div>
                             </div>
                         </div>
                     </div>
                </div>

             <!-- ./Team member -->
             <!-- Team member -->
             <div class="col-xs-12 col-sm-12col-md-12 col-lg-4">
                     <div class="mainflip">
                         <div class="frontside">
                             <div class="card">
                                 <div class="card-body text-center">
                                     <p class="img"><img class=" img-fluid" src="/browser.png" alt="card image"></p>
                                     <h4 class="card-title">Mes outils </h4>
                                     <p class="card-text"> Pour développer, j'utilise ces outils pour effectuer des tâches répétitves mais essentielles</p>
                                     <ul class="list-inline">
                                         <li class="list-inline-item">
                                                <img src="https://img.icons8.com/color/48/000000/heroku.png">
                                         </li>
                                         <li class="list-inline-item">
                                                <img src="https://img.icons8.com/color/48/000000/github.png">
                                         </li>
                                         <li class="list-inline-item">
                                                 <img src="https://img.icons8.com/color/48/000000/amazon-web-services.png">
                                         </li>
                                         <li class="list-inline-item">
                                                 <img src="https://img.icons8.com/color/48/000000/sent.png">
                                         </li>
                                         <li class="list-inline-item">
                                                 <img src="https://img.icons8.com/color/48/000000/stripe.png">
                                         </li>
                                     </ul>
                                 </div>
                             </div>
                         </div>

                     </div>

             </div>
            </div>
   </div>
  </section>
<section>
  <div class="container" id="projet">
		<div class="text-center">
		<h5 class="section-title h1"> projets réalisés</h5>
		</div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card"  >
      <img class="img-responsive" src="/djingaa.jpg" alt="Card image cap">
      <br>
    </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <a href="https://www.djingaa.re/" class="title-site" target="_blank">DJINGAA</a> <br>
      <a href="https://www.djingaa.re/" class="title-site" target="_blank">Voir le site</a>

      <p class="description">
        Swimnatation est un club de natation pour enfants et adultes désirant apprendre à nager ou améliorer leur technique.
      </p>

      <ul class="skills">
        <li><font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Service</font></font>
        </li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ruby on rails</font></font>
          </li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Paiement</font></font>
          </li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">email</font></font>
          </li>
        </ul>
    </div>
</div>
<div class="container">
 <hr >
</div>
	<div class="container" >
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="card"  >
		  <img class="img-responsive" src="/permisapoints.jpg" alt="Card image cap" >
			<br>
		</div>
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<a href="https://www.permisapoints974.re/" class="title-site" target="_blank">PERMISAPOINTS974</a><br>
      <a href="https://www.permisapoints974.re/" class="title-site" target="_blank">Voir le site</a>

			<p class="description">
				Persmisàpoints974 permet de participer à des stages de récuparation de points pour le permis de conduire sur l'île de La Réunion.
			</p>
			<ul class="skills">
				<li><font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">Service</font></font>
				</li>
					<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ruby on rails</font></font>
					</li>
					<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Paiement</font></font>
					</li>
					<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">email</font></font>
					</li>
				</ul>
		</div>
	</div>


    <div class="container">
     <hr >
    </div>


  <div class="container">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card"  >
      <img class="img-responsive" src="/swimnatation.jpg" alt="Card image cap">
      <br>
    </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <a href="https://www.swimnatation.com/" class="title-site" target="_blank">SWIMNATATION</a> <br>
      <a href="https://www.swimnatation.com/" class="title-site" target="_blank">Voir le site</a>

      <p class="description">
        Swimnatation est un club de natation pour enfants et adultes désirant apprendre à nager ou améliorer leur technique.
      </p>

      <ul class="skills">
        <li><font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Service</font></font>
        </li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ruby on rails</font></font>
          </li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Paiement</font></font>
          </li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">email</font></font>
          </li>
        </ul>
    </div>

  </div>
  <div class="container">
   <hr >
  </div>

  <div class="container">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card"  >
      <img class="img-responsive" src="/bibliorun.jpg" alt="Card image cap" >
      <br>
    </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <a href="https://bibliorun.herokuapp.com/" class="title-site" target="_blank">BIBLIORUN</a><br>
      <a href="https://bibliorun.herokuapp.com/" class="title-site" target="_blank">Voir le site</a>

      <p class="description">
        Biliorun est un site de partage de livres <br>exclusivment réservé aux élèves du collège Dina morgabine <br>de Saint-Pierre.
      </p>
      <ul class="skills">
        <li><font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Service</font></font>
        </li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ruby on rails</font></font>
          </li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">email</font></font>
          </li>
        </ul>
    </div>
  </div>

  <div class="container">
   <hr >
  </div>

  <div class="container" style="margin-bottom:90px;">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card"  >
      <img class="img-responsive" src="/caviarauto.jpg" alt="Card image cap">
      <br>
    </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <a href="http://www.caviarauto.re/" class="title-site" target="_blank">CAVIARAUTO</a> <br>
      <a href="http://www.caviarauto.re/" class="title-site" target="_blank">Voir le site</a>

      <p class="description">
        Caviarauto est un site de location de voitures qui s'adresse aux particuliers et aux touristes en voyage sur l'île de La Réunion.
      </p>
      <ul class="skills">
        <li><font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Service</font></font>
        </li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ruby on rails</font></font>
          </li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">e-mail</font></font>
          </li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Paiement</font></font>
          </li>
        </ul>
    </div>
</section>


<%= render 'contacts/new' %>
