<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="height:60vh; background-size: cover; background-image: url(/plage.jpg);">
   <div class="container">
     <div class="row">
     <div class="col-md-4">
     <img class="rounded-circle" src="/photo_basket.jpg" alt="Generic placeholder image" width="140" height="140">
     </div>
   <div class="col-md-8">
       <h3 class="name">Développeur Ruby on Rails <i class="far fa-gem"></i></h3>
       <p class="bio">Je m'appelle Jean-rodriguez Kinouani aka jrkinouani, je suis un développeur - entrepreneur sur île de la reunion
         <br>
       </p>
   </div>
    </div>
</section>

<div class="container">

  <h1>Mes réalisations</h1>
  <ul class="list-group">
    <li> <a href="https://bibliorun.herokuapp.com/" target="_blank">Bibliorun </a> Site de location de livres entre élèves d'un collège</li>
    <li ><a href="#">Caviarauto</a> Site de location de voitures entre particuliers</li>
    <li ><a href="#">Fewhourz</a> Site de location de piscines pour quelques heures entre particuliers</li>
  </ul>
<hr>
  </div>

</div>

<footer class="container">
        <p>&copy; 2018 Website. &middot; <a href="#">Jean-rodriguez kinouani</a> &middot; <i class="far fa-gem"> Ruby on Rails</i> </p>
      </footer>
