<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="row">
    <div class="col-md-3">
    <img class="rounded-circle" src="/photo_basket.jpg" alt="Generic placeholder image" width="140" height="140">
    </div>
  <div class="col-md-5">
      <h3 class="name">Développeur Ruby on Rails <i class="far fa-gem"></i>

</h3>

      <p>Je m'appelle Jean-rodriguez Kinouani, je suis un développeur ruby on rails
        originaire de saint seine denis. Actuellement je réside à Saint-pierre à l'ile de la reunion. <br>
      </p>
  </div>
</div>
</div>

</div>
