<div class="container">
  <nav>
    <div class="jumbotron jumbotron-fluid">
      <div class="row">
      <div class="col-md-3">
      <img class="rounded-circle" src="/photo_basket.jpg" alt="Generic placeholder image" width="140" height="140">
      </div>
    <div class="col-md-5">
        <h3 class="name">Développeur Ruby on Rails <i class="far fa-gem"></i></h3>
        <p class="bio">Je m'appelle Jean-rodriguez Kinouani aka jrkinouani, je suis un développeur - entrepreneur sur île de la reunion
          <br>
        </p>
    </div>

    <div class="col-md-3" id="reseau">
      <a href="https://twitter.com/jrkinouani" target="blank"><i class="fab fa-twitter"></i></a>
    </div>
  </div>

  </div>
  </nav>

<section>
  <div class="row">
    <div class="col-md2">
      <h1>Mes réalisations</h1>
    </div>

  </div>
</section>
</div>
