<main class="cd-main">
		<section class="cd-section projects visible">
			<header>
				<div class="cd-title">
					<h2>Projects</h2>
					<span>Some text here</span>
				</div>

				<a href="#projects-content" class="cd-scroll">Scroll Down</a>
			</header>
		</section> <!-- .cd-section -->
	</main> <!-- .cd-main -->
