<div class="container">
  <div class="row">
    <p>
      Bonjour, <br> <br>
      Un nouveau message a été envoyé depuis le site :
      de la part de <%= @contact.name %>, <br>
      avec l'adresse mail : <%= @contact.email %> <br>
      Voici son message : <br>
      <%= @contact.message %>
    </p>
  </div>
</div>
