@import "bootstrap-sprockets";
@import "bootstrap";

header{
	 background-image: url("/laptop-dark.jpg");
	 height: 600px;
   width: 100%;
	 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-nav {
    float: right;
    margin: 0;
}
h3.name
{
    font-weight: 800;
    font-size: 17px;
    padding-bottom: 5px;
    font-family: open sans;
    letter-spacing: -1px;
    color: #fff ;
    }

.navbar-dark .navbar-nav .nav-link
{
  text-decoration: none;
  font-weight: 800;
  color: #FFF;
  font-size: 13px;
  padding:  32px 40px;
    }
.nav-link.js-scroll-trigger
{
    border-bottom: 4px solid #ff0047;
}
h1.baseline
{
    color: #FFF;
    font-size: 50px;
    margin-top: 80px;
		margin-left: 15px;
		margin-right: 15px;
}
h4.punchline
{
		color: #FFF;
		font-size: 18px;
    line-height: 26px;
		font-weight: 300;
		margin-left: 15px;
		margin-right: 15px;
}
/*section */

section
{
		background-color: #FFF;
}
.card
{
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
		border-radius: 3px solid black;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
h3.title_projet
{
		margin-bottom: 100px;
		margin-top: 100px;
		font-size: 50px;
}
a.title-site
{
		color: #303030;
		font: 38px "Open Sans";
		font-weight: 800;
		text-decoration: none;
}
a.title-site:hover
{
		color: red;
		font: 38px "Open Sans";
		font-weight: 800;
		text-decoration: none;
}
p.description
{
		line-height: 26px;
		font-size: 14px;
		padding-top: 25px;
		padding-bottom: 25px;
		color: #868686;
}
ul.skills
{
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
		    box-sizing: border-box;
				text-decoration: none;
}
.skills li {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    line-height: 32px;
    display: inline;
    border-radius: 4px;
    font-size: 12px;
    background: #f04;
    padding: 4px 9px;
		margin-right: 20px;
}
hr
{
		border-radius: 4px;
		color:red;
		border: 1px solid rgba(0,0,0,.15);
		margin-bottom:90px;
		margin-top: 90px;

}
aside.contact
{
		background-color: black;
		height: 600px;
		padding-top: 1px;
}

.contact-form{
    background: #fff;
    margin-top: 80px;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding-left: 15px;
		padding-right: 15px;
		padding-top: 30px;
		padding-bottom: 90px;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
